/*This is the code for the header. I am ready to scratch this if newer and better code comes for placing items where you want.*/
.Header {
    background: red;
    height: 150px;
    border: 3px black solid;
}

.border {
    margin: 20px;
    border: 3px rgb(225, 196, 33) solid;
}

.logo {
    margin-top: 5%;
    margin-left: 5%;
}

.links {
    float: right;
    border: 2px purple solid;
    margin-top: 5%;
}

li {
    border: 2px yellowgreen solid;
    padding: 10px 40px;
    display: inline;
}

li a {
    justify-content: center;
    padding: 0px 60px;
    font-size: 21px;
}


