html,body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-image: url(./Images/Background.png);
    background-repeat: no-repeat;
    background-size:100% auto;
}

/*---------------------------------------------------------------*/
/*This is the Header. It contains the logo and the navbar links*/
.Header {
    border: 3px black solid;
    height: 80px;
    width: auto;
    margin: 0px 100px; 
}

.headerlogo  {
    border: purple 3px solid;
    height: 30px;
    width: auto;
}

.headerborder {
    border: 3px red solid;
    margin: 20px;
}

.links {
    border: red solid 3px;
    display: flex;
    float: right;
    list-style: none;
}

.links a {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 40px;
    border: blue solid 2px;
    text-decoration: none;
}
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/*This is the main banner. It will containn the title 
    Get Schooled along with the pros listed below*/
.Banner {
    border: 3px black solid;;
    height: 1093px;
    width: auto;
}

.GetSchooled {
    margin: 30px;
    border: 3px red solid;
    align-items: center;
}

.GetSchooled h1 {
    text-align: center;
}

.GetSchooled p {
    text-align: center;
}

.schooledbutton {
    position: relative;
    align-items: center;
    left: 47%;
}

.learntitle {
    text-align: center;
    position: relative;
    top: 600px;
}

.learn {
    
}

.ThePros {
    margin-top: 250px;
    border: 3px black solid;
    display: flex;
    height: 130px;
    justify-content: space-evenly;
    position: relative;
    top: 400px;
}
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/*This will display a portrait of a man, along with his quote to the side*/
.thequote {
    justify-content: space-evenly;
    display: flex;
    border: purple solid 5px;
    margin-top: 40px;
    width: auto;
    height: 392px;
}

.QuotePerson {
    border: 3px red solid;
}

.QuoteSection {
    border: 3px black solid;
}
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/*This is the video gallery that will display thumbnails and the 
    content creator*/
.VideoSection {
    border: 3px black solid;
}

.populartitle {
    border: 3px black solid;
    text-align: center;
}

.videogallery {
    border: 3px black solid;
    display: flex;
    justify-content: space-evenly;
}


.Video {
    border: 3px black solid;
}

.philipmaseyvideo {
    border: 3px red solid;
    display: flex;
}

.philipmaseyrating {
    border: 3px rgb(16, 120, 147) solid;
    display: flex;
}
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/*This is the Freemembership section. Most of the text will be lorem ipsum,
    along with a register for free button*/
.freemembershiptitle {
    text-align: center;
    border: 3px black solid;
}

.Membership {
    border: 3px black solid;
    display: flex;
    justify-content: space-evenly;
}

.Membership h1 {
    text-align: center;
}

.Membership p {
    text-align: center;
}

.smileyface {
    border: 3px red solid;
    margin: 30px;
}

.registerbutton {
    border: 3px red solid;
    position: relative;
    left: 47%;
}
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/*This will display the FAQ section, also mostly filled with Lorem Ipsum*/

.FAQ {
    margin-top: 50px;
    border: 3px black solid;
    text-align: center;
}

.Row1 {
    border: 3px black solid;
    justify-content: space-evenly;
    display: flex;
}

.Row2 {
    border: 3px black solid;
    justify-content: space-evenly;
    display: flex;
}
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/*This is the footer. It will be at the very end of the website and contain media icson.*/

.Footer {
    border: 3px black solid;
}

.footerborder {
    margin: 10px;
    border: 3px black solid;
}

.logoandicons {
    justify-content: right;
    display: flex;
    border: 3px red solid;
}

.bottomicon {
    left: -70%;
    position: relative;
    border: 3px black solid;
}

.bottomlogos {
    align-items: right;
    border: 3px black solid;
}

.bottomtext {
    text-align: center;
    justify-content: center;
    border: 3px yellow solid;
}
/*---------------------------------------------------------------*/