.body {
    background: darkblue;
}

/*---------------------------------------------------------------*/
/*This is the Header. It contains the logo and the navbar links*/
.Header {
    border: 3px black solid;
    height: auto;
    width: auto;
}

.headerborder {
    border: 3px red solid;
    margin: 2px;
}

.links {
    display: flex;
    float: right;
}
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/*This is the main banner. It will containn the title 
    Get Schooled along with the pros listed below*/
.Banner {
    border: 3px black solid;;
    height: 780px;
    width: auto;
}

.GetSchooled {
    margin: 30px;
    border: 3px red solid;
    align-items: center;
}

.GetSchooled h1 {
    text-align: center;
}

.GetSchooled p {
    text-align: center;
}

.schooledbutton {
    position:absolute;
    align-items: center;
    left: 50%;
}

.learntitle {
    position: relative;
    top: 400px;
    left: 560px;
}

.ThePros {
    border: 3px black solid;
    display: flex;
    height: 130px;
    justify-content: space-evenly;
    position: relative;
    top: 400px;
}
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/*This will display a portrait of a man, along with his quote to the side*/
.thequote {
    justify-content: space-evenly;
    display: flex;
}

.QuotePerson {
    border: 3px red solid;
}

.QuoteSection {
    border: 3px black solid;
}

.VideoSection {
    border: 3px black solid;
}

.populartitle {
    border: 3px black solid;
    text-align: center;
}

.videogallery {
    border: 3px black solid;
    display: flex;
    justify-content: space-evenly;
}


.Video {
    border: 3px black solid;
}

.philipmaseyvideo {
    border: 3px red solid;
    display: flex;
}

.philipmaseyrating {
    border: 3px rgb(16, 120, 147) solid;
    display: flex;
}

.freemembershiptitle {
    text-align: center;
    border: 3px black solid;
}

.Membership {
    border: 3px black solid;
    display: flex;
    justify-content: space-evenly;
}

.Membership h1 {
    text-align: center;
}

.Membership p {
    text-align: center;
}

.smileyface {
    border: 3px red solid;
    margin: 30px;
}

.registerbutton {
    justify-content: center;
    border: 3px red solid;
    position: absolute;
    left: 50%;
}

.FAQ {
    margin-top: 50px;
    border: 3px black solid;
    text-align: center;
}

.Row1 {
    border: 3px black solid;
    justify-content: space-evenly;
    display: flex;
}

.Row2 {
    border: 3px black solid;
    justify-content: space-evenly;
    display: flex;
}

.Footer {
    border: 3px black solid;
}

.footerborder {
    margin: 10px;
    border: 3px black solid;
}

.logoandicons {
    justify-content: right;
    display: flex;
    border: 3px red solid;
}

.bottomicon {
    left: -70%;
    position: relative;
    border: 3px black solid;
}

.bottomlogos {
    align-items: right;
    border: 3px black solid;
}

.bottomtext {
    text-align: center;
    justify-content: center;
    border: 3px yellow solid;
}



