@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@500;900&display=swap');

.grid-container {
    display: grid;
    row-gap: 5px;
    grid-template-columns: 120px 350px auto auto;
    grid-template-rows: 85px 400px 80px 160px 500px 120px;
    background-color: #0e161f;
    padding: 10px;
    grid-template-areas: 
    "grid1 grid2 grid3 grid3"
    "grid4 grid4 grid4 grid4"
    "grid5 grid5 . ."
    "grid6 grid6 grid6 ."
    "grid7 grid7 grid7 grid7"
    "grid8 grid8 grid9 grid9";
  }

  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item1 {
    grid-area: grid1;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  /*This is for the Shark Safari Title at the top*/
  .grid-item2 {
    grid-area: grid2;
    font-size: 30px;
    text-align: center;
    padding: 25px 20px;
    font-size: 30px;
  }

  /*Logo doesnt do anything, but will slighly expand when hovered over*/
  .grid-item2 header {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: aliceblue;
    transition: 0.6s;
    font-family: 'Roboto', sans-serif, black;
  }

  .grid-item2 header:hover {
    transition: 0.6s;
    letter-spacing: 7px;
  }
  /*end of Shark Safari title*/


/*This is for the Navigation Bar at the top right*/
  .grid-item3 {
    grid-area: grid3;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0px 20px;
    font-size: 30px;
    text-align: center;
  }
  


  .grid-item3 li {
    margin-right: 20px;
    justify-content: center;
    display: inline;
    overflow: hidden;
  }

  .grid-item3 a{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
    transition: 0.5s;
  }

  .grid-item3 a:hover{
    transition: 0.5s;
    letter-spacing: 3px;
    border-bottom: 1px solid white;
  }
  /*This is the ennd of the Navigation bar*/

  .grid-item4 {
    grid-area: grid4;
    background-color: rgba(255, 255, 255, 0.8);
    border: 9px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    overflow: hidden;
  }

  .grid-item4 video{
    object-fit: cover;
    overflow: hidden;
    height: 400px;
    width: 1920px;
    filter: blur(3px);
    transition: 4s;
    border-radius: 9px solid rgb(0, 0, 0);
  }

  .grid-item4 video:hover{
    filter: blur(15px);
    transform: scale(3.0);
    transition: 3s;
  }


  .grid-item5 {
    grid-area: grid5;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item6 {
    grid-area: grid6;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item7 {
    grid-area: grid7;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item8 {
    grid-area: grid8;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item9 {
    grid-area: grid9;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }